@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  width: 138px;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -9px;
}
.main-header-logo {
  z-index: 1;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 339px;
  align-items: center;
}
.navigation-user {
  min-width: 268px;
  margin-right: 70px;
  margin-left: 285px;
}
.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -2px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  z-index: 4;
  content: "";
}
.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.navigation-link-icons {
  display: block;
  fill: #000000;
}
.navigation-link-favorite-amount {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7db54f;
  min-width: 20px;
  min-height: 20px;
  align-items: center;
  border-radius: 10px;
  margin-top: 11px;
  margin-right: 4px;
}
.navigation-link-user {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 34px;
  margin-left: 20px;
}
.navigation-link:hover {
  color: #756157;
}
.navigation-link:focus {
  color: #756157;
  outline: none;
}
.navigation-link:active {
  opacity: 0.3;
}
.navigation-link:hover .navigation-link-icons {
  fill: #756157;
}
.navigation-link:focus .navigation-link-icons {
  fill: #756157;
}
.navigation-link:active .navigation-link-icons {
  fill: #756157;
  opacity: 0.3;
}
.navigation-link-user:hover {
  background-color: #615048;
}
.navigation-link-user:focus {
  background-color: #615048;
  outline: none;
}
.navigation-link-user:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.welcome {
  position: relative;
  background-image: url("../images/background/welcome-background.jpg");
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome::before {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 57px;
  background-image: url("../images/icons/divider-welcome.svg");
  background-repeat: no-repeat;
  content: "";
}
.welcome-image {
  display: block;
  margin:0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}
.advantages {
  text-align: center;
}
.advantages-preface {
  padding-top: 69px;
  padding-bottom: 90px;
}
.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}
.advantages-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}
.advantages-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 103px;
  padding-bottom: 121px;
}
.advantages-item-title {
  position: relative;
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
}
.advantages-item-line::before {
  position: absolute;
  bottom: -32px;
  left: 57px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
  content: "";
}
.advantages-item-line-accent::before {
  position: absolute;
  bottom: -32px;
  left: 57px;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.3;
  content: "";
}
.advantages-item-description {
  color: #333333;
  width: 230px;
  margin: 0;
}
.advantages-item-accent-text {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  background-color: #82B3D3;
  margin: 0;
  padding: 0;
}
.advantages-item-accent-text .advantages-item {
  padding-top: 92px;
  padding-bottom: 111px;
}
.advantages-item-icons {
  padding-top: 182px;
  padding-bottom: 81px;
}
.advantages-item-icons .advantages-item-title {
  width: 230px;
  margin-top: 0;
  margin-bottom: 30px;
}
.advantages-item-accent-text .advantages-item-description {
  color: #ffffff;
}
.advantages-item-second-background {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-third-background {
  background-color: #ffffff;
}
.advantages-image {
  display: block;
}
.advantages-item-image-bridge {
  order: -1;
}
.advantages-item-home::before {
  position: absolute;
  top: -105px;
  left: auto;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/house.svg");
  content: "";
}
.advantages-item-burger::before {
  position: absolute;
  top: -105px;
  left: 78px;
  width: 74px;
  height: 70px;
  background-image: url("../images/icons/food.svg");
  content: "";
}
.advantages-item-present::before {
  position: absolute;
  top: -105px;
  left: 83px;
  width: 64px;
  height: 76px;
  background-image: url("../images/icons/souvenirs.svg");
  content: "";
}
.selection {
  text-align: center;
  padding: 96px 0;
}
.selection-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.selection-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;
}
.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.button-selection {
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
}
.button-selection:hover {
  background-color: #615048;
}
.button-selection:focus {
  background-color: #615048;
  outline: none;
}
.button-selection:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.button-selection:disabled {
  background-color: #e5e5e5;
}
.newsletter {
  color: #ffffff;
  background-image: url("../images/background/newsletter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  text-align: center;
  padding: 96px 258px 104px;
}
.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.newsletter-text {
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 104px;
  margin-bottom: 54px;
}
.newsletter-form {
  display: flex;
}
.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 412px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
}
.newsletter-button {
  width: 232px;
  min-height: 52px;
  padding: 8px 50px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
}
.newsletter-button:hover {
  background-color: #68a2ca;
}
.newsletter-button:focus {
  background-color: #68a2ca;
  outline: none;
}
.newsletter-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
.newsletter-button:disabled {
  background-color: #e5e5e5;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
}
.footer-social {
  max-width: 150px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.button-social {
  display: block;
  position: relative;
  min-width: 47px;
  min-height: 40px;
}
.footer-social-icons {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #83b3d3;
}
.button-social:hover .footer-social-icons {
  fill: #68a2ca;
}
.button-social:focus .footer-social-icons {
  fill: #68a2ca;
}
.button-social:focus {
  outline: none;
}
.button-social:active .footer-social-icons{
  fill: #82b3d3;
  opacity: 0.3;
}
.footer-contacts {
  width: max-content;
}
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.footer-phone:hover {
  color: #756157;
}
.footer-phone:focus {
  color: #756157;
  outline: none;
}
.footer-phone:active {
  opacity: 0.3;
}
.htmlacademy {
  width: 115px;
}
.htmlacademy-logo {
  fill: #000000;
}
.htmlacademy-link:hover .htmlacademy-logo {
  fill: #756157;
}
.htmlacademy-link:focus .htmlacademy-logo {
  fill: #756157;
}
.htmlacademy-link:focus {
  outline: none;
}
.htmlacademy-link:active .htmlacademy-logo {
  opacity: 0.3;
}
.modal-container {
  position: fixed;
  display: flex;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal-container-close {
  display: none;
}
.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.modal-selection {
  width: 577px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  margin-top: 64px;
  margin-right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 27px;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-close-button:hover {
  background-color: #e6e6e6;
}
.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}
.modal-close-button:focus:not(:focus-visible) {
  outline: none;
}
.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}
.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}
.modal-tittle {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.selection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selection-form-square {
  display: grid;
  grid-template-areas:
  "caption data"
  ". help";
  grid-template-columns: auto 440px;
  width: 100%;
  margin-bottom: 23px;
  min-height: 48px;
  align-items: center;
  gap: 4px 0;
}
.selection-form-caption {
  grid-area: caption;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
}
.selection-form-data {
  display: flex;
  grid-area: data;
  background: #f2f2f2;
  border-radius: 4px;
}
.selection-data {
  padding: 12px 20px;
  flex-grow: 1;
  border: none;
  background: none;
  outline: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.selection-form-data:hover {
  background-color: #e6e6e6;
}
.selection-form-data:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}
.selection-form-data:active {
  background: #f2f2f2;
  outline: 2px solid #000000;
}
.selection-form-calendar {
  width: 20px;
  border: none;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 14px 20px;
  opacity: 0.3;
  cursor: pointer;
}
.selection-form-calendar:hover {
  background-color: #e6e6e6;
  outline: none;
  opacity: unset;
}
.selection-form-calendar:focus {
  outline: 3px solid #82b3d3;
  background-color: #e6e6e6;
  border-radius: 4px;
  opacity: unset;
}
.selection-form-calendar:active {
  outline: 3px solid #000000;
  border-radius: 4px;
}
.selection-form-help {
  grid-area: help;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  margin: 0 0 0 20px;
}
.selection-form-help-error {
  color: #ff5757;
}
.selection-form-amount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0 88px;
  margin-bottom: 48px;
  align-items: center;
  min-height: 48px;
}
.form-amount-adults {
  display: grid;
  grid-template-columns: auto 110px;
  align-items: center;
}
.form-caption-amount {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
}
.amount-total {
  width: 11px;
  height: 20px;
  padding: 14px 10px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  outline: none;
  background-color: #f2f2f2;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
.form-amount-childs .form-caption-amount {
  margin-right: 10px;
}
.selection-amount-meter {
  display: grid;
  grid-template-columns: auto 31px auto;
}
.amount-meter {
  display: block;
  position: relative;
  width: 40px;
  height: 48px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: #f2f2f2;
}
.amount-meter-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  padding: 3px;
  fill: rgba(117, 97, 87, 0.3);
}
.amount-meter-minus {
  border-radius: 4px 0 0 4px;
}
.amount-meter-plus {
  border-radius: 0 4px 4px 0;
}
.form-amount-childs {
  display: grid;
  grid-template-columns: auto 110px;
  align-items: center;
}
.amount-meter:hover .amount-meter-icon {
  fill: #000000;
}
.amount-meter:focus .amount-meter-icon {
  fill: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}
.amount-meter:focus{
  outline: none;
}
.amount-meter:active .amount-meter-icon {
  fill: rgba(117, 97, 87, 0.3);
  outline: none;
}
.form-caption-amount-caption {
  display: flex;
  align-items: center;
}
.tooltip-toggle {
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 7px;
  margin: 0;
  display: block;
  background-color: #83b3d3;
}
.tooltip {
  position: relative;
}
.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  display: block;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
.tooltip-toggle:focus {
  outline: none;
}
.tooltip-text {
  display: none;
  position: absolute;
  z-index: 10;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #333333;
  color: #ffffff;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  width: 216px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 41px;
  left: -112px;
}
.tooltip-text::before {
  position: absolute;
  left: 50%;
  width: 19px;
  height: 19px;
  margin-left: -13px;
  top: -7px;
  background-color: #333333;
  content: "";
  transform: rotate(45deg);
}
.modal-selection-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
}
.modal-selection-button:hover {
  background-color: #68a2ca;
}
.modal-selection-button:focus {
  background-color: #68a2ca;
  outline: none;
}
.modal-selection-button:active {
  background-color: #83b3d3;
  color: rgba(255, 255, 255, 0.3);
}
.modal-selection-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
.inner-header {
  color: #ffffff;
  background-image: url("../images/background/inner-header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs {
  font-size: 16px;
}
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
.catalog-filter {
  display: flex;
  justify-content: space-around;
}
.catalog-filter-group {
  display: inline-block;
  width: 160px;
  margin: 0 70px;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}
.button-filter {
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
}
.button-reset {
  background: none;
  font-size: 16px;
  line-height: 20px;
}
.catalog-products {
  width: 1200px;
  margin: 0 auto;
}
.catalog-sorting {
  width: 1060px;
  margin: 50px 70px;
}
.catalog-sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0 70px 80px;
}
.product-card-link {
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}
.housing-type {
  color: #333333;
}
.product-card-price {
  color: #333333;
  text-align: right;
}
.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}
.product-card-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}
.product-card-button-favorites {
  background-color: #82b3d3;
}
.product-card-button-favorites-pick {
  background-color: #7db54f;
}
.pagination {
  margin: 0 70px 60px;
  list-style-type: none;
  padding: 0;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
}
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
.catalog-newsletter {
  text-align: center;
}
.catalog-newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.catalog-newsletter-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
